[Unit]
Description=TOKUGAWA MN01
After=network-online.target

[Service]
User=tokugawa
Type=simple
WorkingDirectory=/opt/tokugawa
Restart=always
ExecStart=/opt/tokugawa/tokugawad_mn01 -datadir=/opt/tokugawa/.mn01/
ExecStop=/opt/tokugawa/tokugawad_mn01 -datadir=/opt/tokugawa/.mn01/ stop

[Install]
WantedBy=multi-user.target
