[Unit]
Description=TOKUGAWA_MN01 masternode service
After=network-online.target

[Service]
User=tokugawa
Type=forking
WorkingDirectory=/opt/tokugawa
Restart=always
RestartSec=10
ExecStart=/opt/tokugawa/tokugawad_mn01 -datadir=/opt/tokugawa/.mn01/
ExecStop=/opt/tokugawa/tokugawad_mn01 -datadir=/opt/tokugawa/.mn01/ stop

[Install]
WantedBy=multi-user.target
